.change-button {
	margin-left: 20px;
}

button:focus {outline:0;}

button {
	border: 1px solid rgba(250,250,250,.6);
	padding: 2px 8px;
	background: transparent;
	color: white;
}

button:active {
	background: rgba(250,250,250,.3);
	border-color: white;
}

input {
	border: 1px solid rgba(250,250,250,.6);
	padding: 2px 2px;
	background: rgba(250,250,250,.1);
	color: white;
	text-align: right;
}

.x-axis-pricechart text, 
.ly-axis-pricechart text, 
.ry-axis-pricechart text,
.x-axis-mvchart text, 
.ly-axis-mvchart text, 
.ry-axis-mvchart text{
	font: 8px sans-serif;
	fill: rgba(255, 255, 255, 0.4);
	pointer-events: none;
}

.x-axis-pricechart path,
.x-axis-pricechart line,
.ly-axis-pricechart path,
.ly-axis-pricechart line,
.ry-axis-pricechart path,
.ry-axis-pricechart line,
.x-axis-mvchart path,
.x-axis-mvchart line,
.ly-axis-mvchart path,
.ly-axis-mvchart line,
.ry-axis-mvchart path,
.ry-axis-mvchart line{
	fill: none;
	stroke: rgba(255, 255, 255, 0.4);
	shape-rendering: crispEdges;
	pointer-events: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: rgba(0, 0, 0, 1);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.change-button {
  height: 24px;
}

.line-settings {
  color: white;
  font-size: 12px;
  line-height: 24px;
  list-style-type: none;
  padding-left: 5px;
  margin: 0;
  margin-right: 10px;
}
.d3chart-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.d3chart-row {
	display: flex;
	justify-content: space-between;
}

#trade-chart-pricechart, #trade-chart-mvchart {
	position: relative;
}
#trade-chart-pricechart {
	margin-right: 10px;
}
#trade-chart-mvchart {
	margin-left: 10px;
}
#chart-pricechart, #chart-mvchart {
	background-color: #222;
	cursor: crosshair;
}

#chart div {
	background: white;
	text-align: left;
}

#chart text {
	fill: rgba(150, 150, 150, 1);
	font: 10px sans-serif;
	text-anchor: end;
}
.bar-rect {
	z-index: 2;
}
.bar-background {
	fill: rgba(255, 255, 255, 0);
	stroke: none;
	z-index: 1;
}

.single-bar-pricechart,  .single-bar-mvchart{
	z-index: 5;
}
.single-bar-pricechart:hover .bar-background, .single-bar-mvchart:hover .bar-background {
	fill: rgba(50, 50, 50, 0.6);
}

.bar-tooltip-hide {
	fill: transparent !important;
	text-anchor: start !important;
	font-size: 8px !important;
}

.bar-tooltip-show {
	fill: white !important;
	text-anchor: start !important;
	font-size: 8px !important;
}

.tooltip {
	position: absolute;
	background: rgba(15, 15, 15, 0.6);
	border: 1px solid rgba(40, 40, 40, 1);
	padding: 5px;
	text-align: left;
	font-size: 8px;
	color: white;
}

.x-axis-tip {
	position: absolute;
	background: rgba(50, 50, 50, 0.95);
	border: 1px solid rgba(60, 60, 60, 1);
	padding: 2px;
	text-align: center;
	font-size: 10px;
	color: white;
	width: 40px;
}

.y-axis-tip {
	position: absolute;
	background: rgba(50, 50, 50, 0.95);
	border: 1px solid rgba(60, 60, 60, 1);
	padding: 2px;
	text-align: center;
	font-size: 10px;
	color: white;
	width: 32px;
	height: 14px;
}

.y-axis-tip-v, .y-axis-tip-v-percentage {
	position: absolute;
	background: rgba(50, 50, 50, 0.95);
	border: 1px solid rgba(60, 60, 60, 1);
	padding: 2px;
	text-align: center;
	font-size: 10px;
	color: white;
	width: 40px;
	height: 14px;
}

.track-line {
	top: 0px;
	position: absolute;
	border-top: 1px dashed rgba(80, 80, 80, 1);
	height: 1px;
	pointer-events: none;
}

.grid line {
	stroke: rgba(40, 40, 40, 1);
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
	z-index: 0;
	pointer-events: none;
}

.info-bar-pricechart, .info-bar-mvchart {
	position: absolute;
	top: 5px;
	left: 20px;
	color: rgba(250, 250, 250, 0.6);
	display: flex;
	align-items: center;
	font-size: 10px;
}

.upday-column {
	color: rgba(136, 208, 64, 1);
}

.downday-column {
	color: rgba(214, 48, 48, 1);
}

.info-column {
	color: rgba(250, 250, 250, 0.9);
	width: 44px;
	text-align: left;
	margin-left: 5px;
}

.ClassA-price, .ClassB-price {
	width: 28px;
}
.reset-text {
	color: rgba(214,48,48,1);
}

.line-ETH,
.line-ClassA,
.line-ClassB {
	pointer-events: none;
}

.legend-ETH, .legend-ClassA, .legend-ClassB {
	width: 6px;
	height: 6px;
	margin-right: 5px;
}
.legend-ETH {
	background: white;
}
.legend-ClassA {
	background: rgba(0,186,255,0.7);
}
.legend-ClassB {
	background: rgba(255,129,0,0.7);
}
.asset {
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 500px;
}
.asset > tbody > tr > td {
	border: 1px solid rgba(250,250,250,.7);
	padding: 5px;
	width: 80px;
	line-height: 33px;
}

.transaction {
	border-collapse: collapse;
	font-size: 12px
}
.transaction > tbody > tr > td {
	border: 1px solid rgba(250,250,250,.7);
	padding: 5px 15px 5px 15px;
	height: 30px;
}

.trans-input {
	margin-left: 5px;
	width: 44px;
}
.trans-input-wrapper {
	width: 160px;
	height: 30px;
	font-size: 10px;
	text-align: right;
}

.day-button {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 10px;
}