@import '~antd/dist/antd.css';
/*
	APP
*/
.App {
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat';
}
button:focus {
	outline: 0;
}
input:focus {
	outline: 0;
}
.play-button {
	position: fixed;
	top: 860px;
	left: 66vw;
	z-index: 10;
}
.day-button {
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	width: 50px;
	height: 50px;
	opacity: 0.5;
}
.day-button:disabled {
	pointer-events: none;
	opacity: 0.25;
}
.day-button:hover {
	opacity: 0.8;
}
.day-button:active {
	opacity: 1;
}
.settings {
	background: url('../images/settings.png');
	background-size: cover;
}
.next-day {
	background: url('../images/nextDay.png');
	background-size: cover;
}
.refresh {
	background: url('../images/refresh.png');
	background-size: cover;
}

/*
	Message
*/
.msg-bg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(100, 100, 100, 0.35);
}
.msg-card {
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(20, 20, 20);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
	overflow: hidden;
}
.msg-img {
	position: absolute;
	top: 40px;
	left: -15px;
	opacity: 0.04;
	height: 120px;
	width: 120px;
}
.msg-header {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 20px;
	width: 380px;
	color: white;
	padding: 10px;
}
.msg-title {
	padding: 4px 0px 4px 15px;
	font-size: 14px;
	width: 300px;
	background: -moz-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: linear-gradient(to right, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
}
.msg-body {
	width: 380px;
	height: 40px;
	padding: 10px;
	color: white;
}
.msg-content {
	padding: 5px 15px;
}
.msg-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 24px;
	width: 380px;
	color: white;
	padding: 10px;
}
.msg-content {
	font-size: 12px;
}
/* msg button */
.msg-button {
	border: none;

	padding: 2px 10px;
	background-color: rgba(40, 41, 42, 1);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 2px;
	position: relative;
	width: 100px;
	height: 24px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fafafa;
	margin: 0;
	opacity: 0.8;
	transition: 0.3s;
}
.msg-button::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0%;
	top: 50%;
	left: 50%;
	background: #eeeeee;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
}
.msg-button:hover {
	color: #000;
	opacity: 0.9;
}
.msg-button:hover::after {
	height: 260%;
	opacity: 0.85;
}
.msg-button:active::after {
	height: 500%;
	opacity: 0.7;
}
td > button {
	border: none;

	padding: 2px 10px;
	background-color: rgba(40, 41, 42, 1);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 2px;
	position: relative;
	width: 100px;
	height: 24px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fafafa;
	margin: 0;
	opacity: 0.8;
	transition: 0.3s;
}
td > button::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0%;
	top: 50%;
	left: 50%;
	background: #eeeeee;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
}
td > button:hover {
	color: #000;
	opacity: 0.9;
}
td > button:hover::after {
	height: 260%;
	opacity: 0.85;
}
td > button:active::after {
	height: 500%;
	opacity: 0.7;
}

/*
	Header
*/
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 60px;
	color: white;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.6);
}
.header {
	width: 80%;
	height: 100%;
	max-width: 960px;
	min-width: 720px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.icon-wrapper {
	height: 100%;
}
.icon-wrapper > img {
	height: 100%;
	width: 75.6px;
}
.nav-button-wrapper {
	height: 100%;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
}
.nav-button-wrapper > a {
	color: rgba(250, 250, 250, 0.65);
	text-decoration: none;
}
.nav-button-wrapper:hover > a {
	color: rgba(250, 250, 250, 1);
}
.nav-button-wrapper > a:visited {
	color: rgba(250, 250, 250, 0.65);
}

/*
	Body
*/
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: rgba(0, 0, 0, 1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Info Bar */
.info-bar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-bar-row {
	height: 140px;
	width: 960px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.price-tag-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 120px;
	width: 480px;
	background-color: #181614;
	padding: 10px 20px;
}
.price-tag {
	height: 120px;
	width: 160px;
	position: relative;
	margin-top: 35px;
}
.price-tag-date {
	width: 440px;
	position: absolute;
	color: rgba(250, 250, 250, 0.8);
	font-family: 'Montserrat';
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: -moz-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: linear-gradient(to right, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
}
.bg-logo {
	height: 100px;
	width: 100px;
	position: absolute;
	left: -35px;
}
.bg-logo > img {
	height: 100%;
	width: 100%;
	opacity: 0.05;
}
.tag-title {
	width: 90px;
	border-bottom: 1.5px solid rgba(250, 250, 250, 0.6);
	margin-left: 20px;
}
.tag-title > h3 {
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 14px;
	color: rgba(250, 250, 250, 0.6);
	margin: 0;
}
.tag-content {
	width: 120px;
	margin-left: 20px;
	margin-top: 10px;
}
.tag-price {
	color: white;
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 24px;
}
.tag-unit {
	margin-left: 2px;
	color: rgba(250, 250, 250, 0.6);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 12px;
	margin-top: 11px;
}
.tag-price-1 {
	color: #69bcff;
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 5px;
}
.tag-price-2 {
	color: #f9ae32;
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 5px;
}
.tag-price-3 {
	color: white;
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 12px;
	margin-bottom: 5px;
	margin-left: 6px;
	width: 60px;
	text-align: right;
}
.tag-unit-1,
.tag-unit-2 {
	margin-left: 2px;
	color: rgba(250, 250, 250, 0.6);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 10px;
	margin-top: 6px;
}
.tag-unit-3 {
	color: rgba(250, 250, 250, 0.6);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 10px;
	width: 44px;
}
.tag-icon {
	display: flex;
	flex-direction: row;
}
.tag-icon > img {
	width: 14px;
	height: 14px;
	margin-right: 5px;
}
.usd {
	width: 62px;
}
.eth {
	width: 84px;
}
.asset-tag-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 120px;
	width: 420px;
	background-color: #181614;
	padding: 10px 20px 10px 0px;
}
.asset-tag {
	height: 120px;
	width: 200px;
	position: relative;
	margin-top: 35px;
}
.asset-tag-name {
	width: 300px;
	position: absolute;
	color: rgba(250, 250, 250, 0.8);
	font-family: 'Montserrat';
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: -moz-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: linear-gradient(to right, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
}
.asset-tag-title {
	width: 120px;
	border-bottom: 1.5px solid rgba(250, 250, 250, 0.6);
	margin-left: 20px;
}
.asset-tag-title > h3 {
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 14px;
	color: rgba(250, 250, 250, 0.6);
	margin: 0;
}
.asset-tag-content {
	width: 140px;
	margin-left: 20px;
	margin-top: 10px;
}

/* Chart */
.d3chart-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.d3chart-row {
	display: flex;
	justify-content: space-between;
	background-color: #181614;
	width: 960px;
}
.d3chart-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.d3chart-wrapper > h3 {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin: 8px 0px;
}
#chart-pricechart,
#chart-mvchart {
	background-color: #181614;
	cursor: crosshair;
}
.x-axis-pricechart text,
.ly-axis-pricechart text,
.ry-axis-pricechart text,
.x-axis-mvchart text,
.ly-axis-mvchart text,
.ry-axis-mvchart text {
	font: 8px sans-serif;
	fill: rgba(255, 255, 255, 0.4);
	pointer-events: none;
}
.x-axis-pricechart path,
.x-axis-pricechart line,
.ly-axis-pricechart path,
.ly-axis-pricechart line,
.ry-axis-pricechart path,
.ry-axis-pricechart line,
.x-axis-mvchart path,
.x-axis-mvchart line,
.ly-axis-mvchart path,
.ly-axis-mvchart line,
.ry-axis-mvchart path,
.ry-axis-mvchart line {
	fill: none;
	stroke: rgba(255, 255, 255, 0.4);
	shape-rendering: crispEdges;
	pointer-events: none;
}
#trade-chart-pricechart,
#trade-chart-mvchart {
	position: relative;
}
#chart div {
	background: white;
	text-align: left;
}
#chart text {
	fill: rgba(150, 150, 150, 1);
	font: 10px sans-serif;
	text-anchor: end;
}
.bar-rect {
	z-index: 2;
}
.bar-background {
	fill: rgba(255, 255, 255, 0);
	stroke: none;
	z-index: 1;
}
.single-bar-pricechart,
.single-bar-mvchart {
	z-index: 5;
}
.single-bar-pricechart:hover .bar-background,
.single-bar-mvchart:hover .bar-background {
	fill: rgba(50, 50, 50, 0.6);
}
.info-bar-chart {
	position: absolute;
	top: 30px;
	left: 20px;
	z-index: 12;
	color: rgba(250, 250, 250, 0.6);
	display: flex;
	align-items: center;
	font-size: 10px;
}
.info-column {
	color: rgba(250, 250, 250, 0.9);
	width: 44px;
	text-align: left;
	margin-left: 5px;
}
.ClassA-price,
.ClassB-price {
	width: 28px;
}
.name-Reset {
	color: rgba(214, 48, 48, 1);
}
.value-Reset {
	opacity: 0;
}
.line-ETH,
.line-ClassA,
.line-ClassB,
.line-MV,
.line-MV-area {
	pointer-events: none;
}
.name-ETH {
	width: 26px;
	margin-right: 2px;
}
.name-ClassA,
.name-ClassB {
	width: 36px;
	margin-right: 2px;
}
.name-MV {
	width: 22px;
	margin-right: 2px;
}
.value-ETH {
	width: 32px;
	margin-right: 5px;
}
.value-ClassA,
.value-ClassB {
	width: 24px;
	margin-right: 5px;
}
.value-MV {
	width: 48px;
	margin-right: 6px;
}
.legend-ETH,
.legend-ClassA,
.legend-ClassB,
.legend-MV {
	width: 6px;
	height: 6px;
	margin-right: 5px;
	margin-left: 5px;
}
.legend-ETH,
.legend-MV {
	background: white;
}
.legend-ClassA {
	background: rgba(0, 186, 255, 0.7);
}
.legend-ClassB {
	background: rgba(255, 129, 0, 0.7);
}
/* Tansaction History Card Wrapper */
.history-transaction-card-wrapper {
	position: relative;
	overflow: hidden;
	width: 600px;
	height: 340px;
}
/* Transction Popup */
.transaction-form {
	position: absolute;
	top: 0px;
	transition: left 0.35s ease-in-out, opacity 0.35s ease-in-out;
	background-color: #181614;
	width: 554px;
	height: 320px;
	padding: 10px 20px;
	box-shadow: 2px 0px 5px 2px rgba(0,0,0,.15);
}
.tf-true {
	left: 0;
	opacity: 1;
}
.tf-false {
	left: -100%;
	opacity: 0.5;
}
.transaction-form-title {
	width: 500px;
	height: 20px;
	color: rgba(250, 250, 250, 0.8);
	font-family: 'Montserrat';
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: -moz-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: linear-gradient(to right, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
}
.transaction-form-body {
	color: white;

	width: 540px;
	height: 230px;
	padding: 0px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.tfbody-left,
.tfbody-right {
	height: 210px;
}
.tfbody-left {
	width: 248.5px;
	margin: 10px 0px 0px 10px;
	padding: 0px 10px 0px 0px;
	border-right: 1.5px solid rgba(40, 41, 42, 0.7);
}
.tfbody-right {
	margin: 10px 10px 0px 0px;
	padding: 0px 0px 0px 30px;
	width: 230px;
}
.tfbody-title {
	width: 120px;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 14px;
	color: rgba(250, 250, 250, 0.6);
	border-bottom: 1.5px solid rgba(250, 250, 250, 0.6);
}
.tfbody-body {
	padding-top: 10px;
}
.tf-contents-item {
	color: rgba(250, 250, 250, 0.6);
	margin-bottom: 10px;
	font-size: 14px;
}
.tf-contents-item > span {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}
.pb-wrapper {
	width: 230px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 10px;
}
.pb-wrapper > div > button {
	width: 48px;
	text-align: center;
	padding: 5px 8px;
	background: transparent;
	color: rgba(250, 250, 250, 1);
	border: 1px solid rgba(250, 250, 250, 0.6);
	opacity: 0.6;
}
.pb-wrapper > div > button:hover {
	opacity: 0.8;
	background: rgba(250, 250, 250, 0.2);
}
.pb-wrapper > div > button:active {
	opacity: 1;
	background: rgba(250, 250, 250, 0.2);
}
.input-radio {
	box-sizing: border-box;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	border-radius: 50%;
	cursor: pointer;
}
.selected {
	position: relative;
	border: 3px solid rgba(250, 250, 250, 0.15);
}
.selected:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgba(250, 250, 250, 0.6);
}
.unselected {
	position: relative;
	border: 1px solid rgba(250, 250, 250, 0.15);
}
.tf-input {
	width: 218px;
	height: 24px;
	border: 1px solid rgba(250, 250, 250, 0.15);
	padding: 2px 5px;
	background: rgba(250, 250, 250, 0.1);
	color: rgba(250, 250, 250, 0.8);
	text-align: right;
}
.transaction-form-bottom {
	width: 400px;
	height: 40px;
	padding: 5px 80px;
	color: white;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.transaction-form-bottom > button {
	border: none;

	padding: 2px 10px;
	background-color: rgba(40, 41, 42, 1);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 2px;
	position: relative;
	width: 100px;
	height: 24px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fafafa;
	margin: 0;
	opacity: 0.8;
	transition: 0.3s;
}
.transaction-form-bottom > button::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0%;
	top: 50%;
	left: 50%;
	background: #eeeeee;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
}
.transaction-form-bottom > button:hover {
	color: #000;
	opacity: 0.9;
}
.transaction-form-bottom > button:hover::after {
	height: 260%;
	opacity: 0.85;
}
.transaction-form-bottom > button:active::after {
	height: 500%;
	opacity: 0.7;
}
.transaction-form-bottom > button:disabled {
	cursor: none;
	pointer-events: none;
	opacity: 0.3;
}
/* History Card */
.history-card {
	height: 320px;
	width: 560px;
	background-color: #181614;
	padding: 10px 20px;
}
.history-card-title {
	width: 500px;
	height: 20px;
	color: rgba(250, 250, 250, 0.8);
	font-family: 'Montserrat';
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: -moz-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: linear-gradient(to right, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
}
.history-card-body {
	width: 540px;
	height: 240px;
	padding: 0px 10px 10px 10px;
}
.history-card-body > ul {
	padding-left: 0px;
	font-size: 12px;
	list-style-type: none;
}
.history-card-body > ul > li {
	color: rgba(255, 255, 255, 0.8);
	padding-left: 10px;
	height: 24px;
	line-height: 24px;
}
.history-card-body > ul > li:nth-child(odd) {
	background-color: rgba(40, 41, 42, 0.7);
}
.history-card-bottom {
	width: 540px;
	height: 20px;
	padding: 5px 10px;
	color: white;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.history-card-bottom > button {
	width: 30px;
	height: 22px;
	margin-left: 4px;
	margin-right: 4px;
	border: none;
	text-align: center;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(40, 41, 42, 1);
}
.history-card-bottom > button:disabled {
	cursor: auto;
	color: rgba(255, 255, 255, 0.3);
	opacity: 0.3;
}
.history-card-bottom > div {
	width: 70px;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;
}
/* Transaction Card Buttons */
.tc-buttons-wrapper {
	background-color: #181614;
	width: 320px;
	height: 320px;
	padding: 10px 20px;
}
.tc-buttons-title {
	width: 300px;
	height: 20px;
	color: rgba(250, 250, 250, 0.8);
	font-family: 'Montserrat';
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: -moz-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
	background: linear-gradient(to right, rgba(40, 41, 42, 0.9) 0%, rgba(24, 22, 20, 0.2) 100%);
}
.tc-buttons-body {
	width: 300px;
	height: 240px;
	padding: 20px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tc-buttons-body > button {
	border: none;

	padding: 2px 10px;
	background-color: rgba(40, 41, 42, 1);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: 2px;
	position: relative;
	width: 150px;
	height: 24px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fafafa;
	margin-top: 8px;
	margin-bottom: 8px;
	opacity: 0.8;
	transition: 0.3s;
}
.tc-buttons-body > button::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0%;
	top: 50%;
	left: 50%;
	background: #eeeeee;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
}
.tc-buttons-body > button:hover {
	color: #000;
	opacity: 0.9;
}
.tc-buttons-body > button:hover::after {
	height: 460%;
	opacity: 0.85;
}
.tc-buttons-body > button:active::after {
	height: 550%;
	opacity: 0.7;
}
.tc-buttons-body > button:disabled {
	opacity: 0.4;
	pointer-events: none;
}

.change-button {
	height: 24px;
}

.asset {
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 500px;
}

.asset > tbody > tr > td {
	border: 1px solid rgba(250, 250, 250, 0.7);
	padding: 5px;
	width: 80px;
	line-height: 33px;
}

.transaction {
	border-collapse: collapse;
	font-size: 12px;
}

.transaction > tbody > tr > td {
	border: 1px solid rgba(250, 250, 250, 0.7);
	padding: 5px 15px 5px 15px;
	height: 30px;
}

.trans-input {
	margin-left: 5px;
	width: 44px;
}

.trans-input-wrapper {
	width: 160px;
	height: 30px;
	font-size: 10px;
	text-align: right;
}
