<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Montserrat:300,400,500|Crete+Round:400italic"
	    rel="stylesheet" type="text/css" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body style="margin: 0">		
        <div id="app"></div>
    </body>
</html>